*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}
body {
    background: #1D262D;
}
header{
    background: #000;
    display: flex;
    flex-direction: column;

}
nav{
    margin-bottom: 8px;
    direction: rtl;
    padding: 1em 5em 0em 0em;
}
nav ul{
    display: flex;
    /* flex-direction: ; */
    gap: 30px;
    text-decoration: none;
}
nav ul li a{
    text-decoration: none;
    color: #707070;
    font-family: Segoe UI;
}
.stripe{
    position: relative;
    background: #F3CA20;
    height: 2px;
}
.main-container{
    display: grid;
    justify-items: center;
    margin: auto;
    padding: 3em;
    width: 70%;
}
.box {
    position: absolute;
    height: 100px;
    width: 100px;
    background: #F3CA20;
}
.one{
    bottom: 50%;
    right: 50%;
}
.two{
    top: 50%;
    left: 50%;
}
.three{
    background: #000;
}